<div class="" style="background-color:rgb(199, 215, 231);">
    <div class="demo" style="margin-left: 18rem;">
        <div class="innerdemo">
            <h3>Genuine Leads</h3>
            <p>Home seekers get a virtual tour of your property. Only those with genuine interest approach you.</p>

        </div>
        <div class="innerdemo">
            <h3>Real Photographs</h3>
            <p>Upgrade your listing and get a photoshoot of your house shot by our photographers.</p>
        </div>
    </div>
    <div class="demo" style="position: relative;top:30px;">
        <div class="innerdemo">
            <h3>Sell Faster</h3>
            <p>Advertise your property to millions of customers and instantly get the right price for your property.
            </p>
        </div>
        <div class="innerdemo">
            <h3>Unparalleled Convenience</h3>
            <p>Our highly trained customer support team helps you through the process.</p>
        </div>
    </div>

</div>