<style>
        .text-muted {
          position: relative;
          width: 100%;
          background-color:bisque;
          color: white;
          text-align: center;
          padding: 2rem;
        }
        </style>


<p class="text-muted">@copyright :2017:5000</p>