<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
    <img src="/images/building.jpg">
    <div class="jumbotron" style="background-color:rgb(5, 163, 190);">
        <h2 style="color:rgb(250, 198, 29);text-align: center;" class="display-4">‘Your Success Is Real’s Mission</h2>
        <p style="font-family: pristina;font-size: 20px;color: rgb(139, 248, 29);">Although it’s geared toward agents rather than leads, Real’s slogan does a lot right.<br> It’s short, easy to remember, and manages to sum up Real’s commitment to agent growth, a rarity in the virtual brokerage space.</p>
    </div>
    <div class="container-fluid" style="">
        <div class="buyhd" style="">
            <div class="buy"><a href="user/Login">SELL</a></div>
            <div class="buy"><a href="user/Login">BUY</a></div>
        </div>
    </div>
    <%- include('partials/_field_info') %> 
</main>

    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>