<html>
        <head>
            <%- include('../partials/head') %>
        </head>
    <body>
        <header>
            <%- include('../partials/_admin_head') %>
        </header>
        <main>
            <br><br><br><br>
          <center>
              <div class="text-success display-4">Admin Portal</div>
              <% if(errmsg){%>
                <p class="text-danger"><%= errmsg %> </p>
            <% } %>
            <form action="/admin" method="POST">
              <div class="form-group">
                  <label for="email">Username</label>
                  <input type="text" placeholder="username" name="adminUsername" /><br /><br/>
                  <label for="password">Password</label>
                  <input type="password" placeholder="Password" name="adminPassword" /><br />
                  <button class="btn btn-primary">Login</button>
              </div>
          </form>
        </center>
          
            
        </main>
        
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>