<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head') %>
    <style>
        center{
            border:2px solid;
            margin-top:5rem;
            margin-left:25rem;
            margin-right:25rem;
        }
        .form-control{
            width:300px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body class="p-3 mb-2 bg-primary text-white">
    <center>
            <h2 class="display-3">Register</h2>
            <% if(msg){ %> 
                <p class="text-danger"><%=msg %></p>
            <% } %>
             <form action="/user/register" method="POST">
                <div class="row" >
                    <div class="form-group col-md-12">
                    <label for="email">Username:</label>
                    <input type="text" placeholder="username" name="username" required class="form-control"/><br />
                    <label for="email">email:</label>
                    <input type="text" placeholder="Enter email" name="email" required class="form-control"/><br />
                    <label for="password">Password:</label>
                    <input type="password" placeholder="Password" name="password" required class="form-control"/><br />
                    <label for="password">Confirm Password:</label>
                    <input type="password" placeholder="Password" name="cnfpassword" required class="form-control"/><br />
                    
                    <button class="btn btn-success">register</button>
                    <p>Already registered?</p><a href="/user/login" style="color: white;">Click Here</a>
                    </div>
                </div>
            </form>
    </center>
    
</body>
</html>